
body {
    padding: 0;
    margin: 0;
}

#root {
    width: 500px;
}

.sample-panel {
    padding: 2em;
    font-size: 20pt;
    text-align: center;
}

.sample-toolbar {
    overflow: hidden;
    padding: 8px;
    background-color: #eee;
}

.sample-toolbar a {
    float: right;
    cursor: pointer;
}